body {
    background-color: #36465D;
    overflow-x: hidden;
}
.wrap {
    width: 75%;
    margin: auto;
}
#containerFormHero {
    text-align: left;
    display: flex;
    justify-content: center;
    // height: 95vh;
    font-family: 'Spartan', sans-serif;
    background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
    #containerForm {
        width: 80%;        
        margin-top: 50px;
        h1, h2{
            text-align: left;
            color: white;
            padding: 12px 0;
        }
        .blocInput {
            display: flex;
            flex-direction: row;
        }
        input {
            color: white;
            border-radius: 5px;
            border: none;
            width: 80%;
            height: 30px;
            padding-left: 8px;
            background-color: #36465D;     
            text-align: left;  
            margin: 5px 0;
            
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0px 75px;
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgb(150, 160, 173);
              }
            .form-control:focus {
                color: white;
                background-color: rgb(110, 139, 179);
                border-color: #a1cbef;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
            }
        }
        button {
            color: white;
            width: 60px;
            left: 0;
            right: 0;
            margin: 20px auto;
            border-radius: 5px;
            border: none;
            width: 25%;
            height: 30px;
            background-color: #36465D;
            transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        button:hover {
            transform: scale(1.1,1.1);
        }
    }
    #containerHero {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 40%;
        width: 50%;
        margin: auto;
        color: whitesmoke;
    }
    #containerPhotos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 0px;            
        img {
            height: auto;
            width: 100%;
        }
        label {
            position: relative;
        }
        [type=radio] { 
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
          }          
          /* IMAGE STYLES */
          [type=radio] + img {
            cursor: pointer;
            filter: contrast(0.6);
            transition: all 0.2s ease-out;
          }
          
          [type=radio] + img:hover {
              transform: scale(1.1);
          }
          /* CHECKED STYLES */
          [type=radio]:checked + img {
            outline: 2px solid #36465D;
            filter: contrast(1);
          }
    }
   
}
#containerFormHard {
    form {
        display: flex;
        flex-direction: column;
        input {
            width: 30%;
            margin: 15px 0;
        }
        #containerName {
            display: flex;
            position: relative;
            padding-bottom: 10px;
            align-items: center;
            padding-bottom: 10px;
            #checkName {
                margin-left: 10px;
                background-color: #36465D;
                padding: 6px 9px;
                cursor: pointer;
            }
            #errorName {
                position: absolute;
                left: 0;
                bottom: 0;
                font-size: 13px;
            }            
            
        }
         #containerNameValidation {
             height: 0;
             transition: height 0.4s;
             display: flex;
             align-items: center;
             z-index: -5;
             #generateName {
                 opacity: 0;
                 transition: opacity 0.3s 0.3s;
             }
            #generateName button {
                background-color: #36465D;
                padding: 6px 9px;
                border: none;
                cursor: pointer;
                color: white;                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            #userNameValidation {
                padding-left: 15px;
                font-size: 20px;
                font-weight: 700;
                
            }
            #checkName img{
                opacity: 0;
                padding-left: 15px;
                transition: opacity 0.3s ease-out;
            }
         }
        #containerCanvas {
            position: relative;
            .inputElement {
                position: absolute;
                top : 50px;
            }
            canvas {
                margin: 30px;
                background-color: rgb(69, 92, 223);
            }
        }    
    }

    #buttonAge {
        cursor: pointer;
            width: 200px;
            height: 30px;
            background-color: white;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            margin-top: 20px;
            p {
                margin: 0;
                img {
                    height: auto;
                    width: 18px;
                }
            }
    }
    #hardSelect {
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 8px;
        text-align: center;      
        transition: all 0.5s ease-out;
        z-index: -10;
        opacity: 1; 
        height: 0;
        padding-top: 15px;
    label {
        position: relative;
        margin: 0;
        transition: transform 0.1s ease-out, opacity 0.3s ease-out;

    }
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }          
      p {
        margin: 0;
        vertical-align: middle;
        display: inline-block;
        height: 100%;
        width: 100%;
        cursor: crosshair;     
        opacity: 0;
        font-size: 10px;
      }

      /* IMAGE STYLES */
      [type=radio] {
        cursor: pointer;
        transition: all 0.2s ease-out;
      }
      
      label:hover {
          transform: scale(1.3);
      }
      /* CHECKED STYLES */
      [type=radio]:checked + p{
        outline: 2px solid #36465D;
        background-color: #36465D;
      }
}


    
    .containerLimit {
        background-color: rgb(68, 99, 202);
        text-align: center;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        width: 400px;
        transform-origin: top;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
        div {
            transition: opacity 0.9s 0.5s;
            opacity: 0;
            position: relative;
            h2 {
                padding-top: 40px;
            }
            #annoyingButton {
                // position: absolute;
                background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
                border: none;
                color: white;                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            #closeLimit {
                width: 30px;
                height: auto;
                position: absolute;
                right: 10px;
                top: 8px;
            }
            #closeLimit img{
                filter: invert(1);
                width: 100%;
                height: auto;
            }
            #annoyingButtonHitBox {
                margin: auto;
                left: 0;
                right: 0;
                position: absolute;
                opacity: 0;
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.1s;

            }
        }
    }
    #containerStat {
        display: flex;
        flex-direction: column;
        #buttonStat {
            cursor: pointer;
            width: 200px;
            height: 30px;
            background-color: white;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            p {
                margin: 0;
            }
            img {
                height: auto;
                width: 18px;
            }
        }        
        #menuStat {
            display: flex;
            flex-direction: column;
            transition: height 0.3s ease-out;
            height: 0;
            width: 0;
            label {
                opacity: 0;
                pointer-events: stroke;
                // transition: opacity 0.3s 0.2s ease-out;

                transition-property: opacity, left;
                transition-duration: 0.3s, 3s;
                transition-delay: 0.1, 0s;
                transition-timing-function: ease-in-out, cubic-bezier(.17,.67,1,1.32);            
                position: relative;
                margin: 0;
                height: 30%;
                width: 200px;
                left: 0;
                z-index: -5;
                p {
                    padding: 0 0 0 5px;
                    text-align: left;
                    width: 100%;
                    background-color: white;
                    color: black;
                    border-radius: 0px;
                    height: 100%;
                }
                .labelFill {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: green;
                    transition: width 0.1s;
                    height: 100%;
                    width: 0%;
                    transition: width 2s;
                }
            }
            [type=radio] { 
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
              }  
            [type=radio]:checked + p {
            outline: 2px solid #36465D;
            filter: contrast(1);
            background-color: #36465D;
            }
        }        
    }
}

.open{
    top: 0;
    left: 0;
    opacity: 1 !important;
    z-index: 10;
    transform-origin: top;
    width: 400px !important;
}

.openStat{
    height: 100px !important;
    width : 200px !important;
}
.openLabel {
    opacity: 1 !important;
    z-index: 3 !important;
}

#containerFormChoose {
    a {
        text-decoration: none;
        color: inherit;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Spartan', sans-serif;
    background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
    #containerSelect {
        padding-top: 25px;
        display: flex;        
        justify-content: space-around;
        text-align : center;
        a {
            display: inline-block;
            height: 100%;
            width: 100%;
        }
        #left,#right{
            transform: scale(1);
            cursor: pointer;
            width: 40%;
            display: inline-block;
            background-color: rgba(42, 67, 104, 0.8);
            border-radius: 15px;
            transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);    
            // padding: 15px;        
        }
        #left {
            width : 100%;
            height: 100%;
        }
        #right:hover {
            transform: scale(1.1);
        }
    }
}

.selectOpen {
    z-index: 5 !important;    
    height: auto !important;
}

.pOpen {
    transform: scale(1.4);
    opacity: 1 !important;
}