body {
    background-color: #36465D;
    overflow-x: hidden;
}
.wrap {
    width: 75%;
    margin: auto;
}
#containerFormHero {
    text-align: left;
    display: flex;
    justify-content: center;
    // height: 95vh;
    font-family: 'Spartan', sans-serif;
    background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
    #containerForm {
        width: 80%;        
        margin-top: 50px;
        h1, h2{
            text-align: left;
            color: white;
            padding: 12px 0;
        }
        h2 {
            // padding: 12px 0 12px 0;
        }
        .blocInput {
            display: flex;
            flex-direction: row;
        }
        input {
            color: white;
            border-radius: 5px;
            border: none;
            width: 80%;
            height: 30px;
            padding-left: 8px;
            background-color: #36465D;     
            text-align: left;  
            margin: 5px 0;
            
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0px 75px;
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgb(150, 160, 173);
              }
            .form-control:focus {
                color: white;
                background-color: rgb(110, 139, 179);
                border-color: #a1cbef;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
            }
        }
        button {
            color: white;
            width: 60px;
            left: 0;
            right: 0;
            margin: 20px auto;
            border-radius: 5px;
            border: none;
            width: 25%;
            height: 30px;
            background-color: #36465D;
            transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        button:hover {
            transform: scale(1.1,1.1);
        }
    }
    #containerHero {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 40%;
        width: 50%;
        margin: auto;
        color: whitesmoke;
    }
    #containerPhotos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 0px;            
        img {
            height: auto;
            width: 100%;
        }
        label {
            position: relative;
        }
        [type=radio] { 
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
          }          
          /* IMAGE STYLES */
          [type=radio] + img {
            cursor: pointer;
            filter: contrast(0.6);
            transition: all 0.2s ease-out;
          }
          
          [type=radio] + img:hover {
              transform: scale(1.1);
          }
          /* CHECKED STYLES */
          [type=radio]:checked + img {
            outline: 2px solid #36465D;
            filter: contrast(1);
          }
    }
   
}
#containerFormHard {
    form {
        display: flex;
        flex-direction: column;
        input {
            width: 30%;
            margin: 15px 0;
        }
        #containerName {
            display: flex;
            position: relative;
            padding-bottom: 10px;
            align-items: center;
            padding-bottom: 10px;
            #checkName {
                margin-left: 10px;
                background-color: #36465D;
                padding: 6px 9px;
                cursor: pointer;
            }
            #errorName {
                position: absolute;
                left: 0;
                bottom: 0;
                font-size: 13px;
            }            
        }
         
        #containerCanvas {
            position: relative;
            .inputElement {
                position: absolute;
                top : 50px;
            }
            canvas {
                margin: 30px;
                background-color: rgb(69, 92, 223);
            }
        }    
    }
    .containerLimit {
        background-color: rgb(68, 99, 202);
        text-align: center;
        opacity: 0;
        transition: 0.5s ease-in-out;
        width: 400px;
        height: 0;
        transform-origin: top;
        position: absolute;
        div {
            transition: opacity 0.9s 0.5s;
            opacity: 0;
        }
    }
}

.open{
    top: 0;
    left: 0;
    opacity: 1;
    transform-origin: top;
    width: 400px !important;
    height: 400px !important;
}

