body {
    transition: background-color 0.5s ease-out;
    font-family: 'Spartan', sans-serif;
    // background-image: url("https://dmarket.com/blog/best-dota2-wallpapers/dota2heroes3_hu319a928e08e8922cb12f50d97f6302ab_1083277_1920x1080_resize_q90_box.jpg");
    background-position: center top;
    color: white;
    background-color: #36465D;
    overflow-x: hidden;
    margin: 0;
    #bg {
        position: absolute;
        top: 0;
        z-index: -1;
        filter: brightness(0.7);
        opacity: 0.9;
        width: 100%;
        height: 100%;
        // background-image: url("https://dmarket.com/blog/best-dota2-wallpapers/dota2heroes3_hu319a928e08e8922cb12f50d97f6302ab_1083277_1920x1080_resize_q90_box.jpg");
        // background-image: url("../images/bg.jpg");
        background-position: center top;
    }
    .wrap {
        width: 75%;
        margin: auto;        
        
    }       
    h1 {        
        text-align: center;
        color: white;
        
    }
    h2 {
        color: white;
        text-align: center;
    }  
    
}
// #title {
    .containerNav {
    font-family: 'Spartan', sans-serif;
    background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.9);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87);
    
    a {        
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        color: inherit;
        padding: 0 10px;
    }
    a:hover {
        color: rgba(172, 171, 171, 0.87);
    }
    h1 {
        transition: color 0.2s ease-in-out;
        color: rgba(255, 255, 255, 0.87);
        margin: 0;
    }
    h1:hover {
        color: rgba(172, 171, 171, 0.87);
    }
    h2 {
        margin: 0;
    }
    #navLeft {
        display: flex;
        width: 35%;
        justify-content: space-around;
        align-items: center;
    }
    .topLinks {
        padding-right: 25px;
        
        
    }
    #navRight {
        display: flex;
        align-items: center;
        padding-right: 30px;
        li {
            list-style: none;
        }
    }
}