body {
    background-color: #36465D;
}
#gifLoading {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.containerHero {
    font-family: 'Spartan', sans-serif;
    width: 55%;
    margin : auto;
    box-sizing: border-box;
    background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
    color: rgba($color: #c9c9c9, $alpha: 1.0);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    position: relative;
    
}
.containerAppear {

    filter: blur(0.6rem);
    background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
}

#wrapHero {
    width: 80%;
    margin: auto;
    padding: 15px;
}
#bgHero  {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(16px);
    background-size: cover;
}
#bgHeroFiltre {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(16px);
    background-color: rgba($color: #000000, $alpha: 0.4);

}
#containerImgName {
    display: flex;
    background-size: cover;
    position: relative;
    h2 {
        font-size: 15px;
    font-weight: 300;
    }
}
.heroPhoto {
    display: block;
    clip-path: circle(79% at 35% 29%);
    z-index: 2;
}
#heroName {
    padding-left: 50px;
    width: 100%;
    z-index: 2;
}

.wrapInfos {
    padding-top: 35px;
}
.containerRoles {
    display: flex;
    font-size: 15px;
}
.range {
    font-weight: bold;
    text-transform: uppercase;
}
.heroRoles {
    padding-left: 6px;
}

#containerLogoStat {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.logoStat img {
    height: 40px;
    width: 40px;
}
.mainStatBorder {
    border: solid 2px white;
    border-radius: 30px;
    
}
.mainStatBold {
    font-weight: bold;
}
.stat {
    text-align: center;
}

.containerWinStats {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    width: 100%;
    margin: auto;
}

#containerHeroFilter {
    background-color: rgba($color: #000000, $alpha: 1.0);
    width: 50%;
    margin : auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
}
#blocWin {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    .winBorder {
        height: 9px;
        width: 55%;
        background-color: grey;
    }
    
    .winFill {
        height: 9px;
        width: 0%;
        background-color: green;
        transition: width  ease-in-out 0.7s;
    }
}

#containerReactions {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    
    .blocReaction {
        width: 90px;
        height: 90px;
        background-color: white;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: auto;
            height: 60%;
        }
    }
}