$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

body {
    font-family: 'Spartan', sans-serif;
    color: white;
    background-color: #36465D;
    overflow-x: hidden;
    .wrap {
        width: 75%;
        margin: auto;        
        background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
    }       
        h1 {        
            text-align: center;
            color: white;
        }
        h2 {
            color: white;
            text-align: center;
        }  
    
}
#containerMode {
    display: flex;
    justify-content: space-around;
    .blocMode {
        position: relative;
        width: 40%;        
        background-color: rgba($color: rgb(42, 67, 104), $alpha: 0.8);
        border-radius: 15px;
        transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        .wrapMode {
            width: 80%;
            margin: auto;
            input[type="submit" i] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
            
                
        }
    }.blocMode:hover{
                transform: scale(1.1);
            }
}
.containerHero {
    display: none;
    font-family: 'Spartan', sans-serif;
    width: 55%;
    margin : auto;
    box-sizing: border-box;
    background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
    color: rgba($color: #c9c9c9, $alpha: 1.0);
    border-radius: 15px;
    transition: filter 0.3s ease-in-out;
    transition : all 1s ease-out;
    position: relative;
    margin-top: 8%;
    padding: 50px 0px;
    
}
.containerAppear {
    filter: blur(0.6rem);    
}
.containerSlide {
    animation: slide 1.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
@keyframes slide {
    0% {
    }
    49% {
        transform: translateX(40%);
        opacity: 0;
    }
    50% {
        transform: translateX(-40%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
#blocLoading {
    display: flex;
    padding-top: 8%;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: auto;
}
#wrapHero {
    // display: none;
    width: 80%;
    margin: auto;
    padding: 15px;
}
#bgHero  {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(16px);
    background-size: cover;
}
#bgHeroFiltre {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(16px);
    background-color: rgba($color: #000000, $alpha: 0.4);

}
#containerImgName {
    display: flex;
    background-size: cover;
    position: relative;
    h2 {
        font-size: 15px;
    font-weight: 300;
    }
}
.heroPhoto {
    display: block;
    clip-path: circle(79% at 35% 29%);
    z-index: 2;
}
#heroName {
    padding-left: 50px;
    width: 100%;
    z-index: 2;
}

.wrapInfos {
    padding-top: 35px;
}
.containerRoles {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.range {
    font-weight: bold;
    text-transform: uppercase;
}
.heroRoles {
    padding-left: 6px;
}

#containerLogoStat {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.logoStat img {
    height: 40px;
    width: 40px;
}
.mainStatBorder {
    border: solid 2px white;
    border-radius: 30px;
    
}
.mainStatBold {
    font-weight: bold;
}
.stat {
    text-align: center;
}

.containerWinStats {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    width: 100%;
    margin: auto;
}

#containerHeroFilter {
    background-color: rgba($color: #000000, $alpha: 1.0);
    width: 50%;
    margin : auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
}
#blocWin {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    .winBorder {
        height: 9px;
        width: 55%;
        background-color: grey;
    }
    
    .winFill {
        height: 9px;
        width: 0%;
        background-color: green;
        transition: width  ease-in-out 0.7s;
    }
}

#containerReactions {
    width: 30%;
    margin: auto;
    display: none;
    justify-content: space-around;
    padding-top: 55px;
    
    .blocReaction {
        position: relative;
        width: 90px;
        height: 90px;
        background-color: white;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .5s;
        transition-timing-function: cubic-bezier(.2, 3, .4, 1);
        user-select: none;
        
        &:hover{
            transform: scale(1.1, 1.1);
        }
        
        &:active{
            transform: scale(1);
            background-color: darken($button-bg, 5%);
            box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
        }         
        img {
            width: auto;
            height: 45%;
           
            
            
        }
        &:before, &:after{
            position: absolute;
            content: '';
            display: block;
            width: 140%;
            height: 100%;
            left: -20%;
            z-index: -1000;
            transition: all ease-in-out 0.5s;
            background-repeat: no-repeat;
          }
          
          &:before{
            
            display: none;
            top: -75%;
            background-image:  
              radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
            radial-gradient(circle, $button-bg 20%, transparent 20%), 
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
          background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
          //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
          }
          &:after{
            display: none;
            bottom: -75%;
            background-image:  
            radial-gradient(circle, $button-bg 20%, transparent 20%), 
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
          background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
          //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
          }
          &.animate{
            &:before{
              display: block;
              animation: topBubbles ease-in-out 0.75s forwards;
            }
            &:after{
              display: block;
              animation: bottomBubbles ease-in-out 0.75s forwards;
            }
          }
    }
}

@keyframes topBubbles {
    0%{
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
   100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
  
  @keyframes bottomBubbles {
    0%{
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
   100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }