$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
h1 {
    text-align: center;
}
#containerUser {
    background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.9);
    h1 {
        padding: 15px 0 75px 0;
    }
    .wrapUser {
        width: 75%;
        margin: auto;
        #containerProfile {
            display: flex;
            justify-content: space-around;
            #name {
                font-size: 20px;
            }
        }
        div {
            margin: 15px 0;
        }
        #choiceHero {
            text-align: center;
            input {
                color: white;
                border-radius: 5px;
                border: none;
                width: 25%;
                height: 30px;
                padding-left: 8px;
                background-color: #36465D;      
                transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
            }
            input:hover {
                transform: scale(1.1,1.1);
            }
        }
    }
}




