body {
  background-color: #36465D;
  overflow-x: hidden;
}

.wrap {
  width: 75%;
  margin: auto;
}

#containerFormHero {
  text-align: left;
  display: flex;
  justify-content: center;
  font-family: "Spartan", sans-serif;
  background-color: rgba(35, 51, 75, 0.8);
}

#containerFormHero #containerForm {
  width: 80%;
  margin-top: 50px;
}

#containerFormHero #containerForm h1,
#containerFormHero #containerForm h2 {
  text-align: left;
  color: white;
  padding: 12px 0;
}

#containerFormHero #containerForm .blocInput {
  display: flex;
  flex-direction: row;
}

#containerFormHero #containerForm input {
  color: white;
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 30px;
  padding-left: 8px;
  background-color: #36465D;
  text-align: left;
  margin: 5px 0;
}

#containerFormHero #containerForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 75px;
}

#containerFormHero #containerForm form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #96a0ad;
}

#containerFormHero #containerForm form .form-control:focus {
  color: white;
  background-color: #6e8bb3;
  border-color: #a1cbef;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

#containerFormHero #containerForm button {
  color: white;
  width: 60px;
  left: 0;
  right: 0;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  width: 25%;
  height: 30px;
  background-color: #36465D;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#containerFormHero #containerForm button:hover {
  transform: scale(1.1, 1.1);
}

#containerFormHero #containerHero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
  width: 50%;
  margin: auto;
  color: whitesmoke;
}

#containerFormHero #containerPhotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  /* IMAGE STYLES */
  /* CHECKED STYLES */
}

#containerFormHero #containerPhotos img {
  height: auto;
  width: 100%;
}

#containerFormHero #containerPhotos label {
  position: relative;
}

#containerFormHero #containerPhotos [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#containerFormHero #containerPhotos [type=radio] + img {
  cursor: pointer;
  -webkit-filter: contrast(0.6);
          filter: contrast(0.6);
  transition: all 0.2s ease-out;
}

#containerFormHero #containerPhotos [type=radio] + img:hover {
  transform: scale(1.1);
}

#containerFormHero #containerPhotos [type=radio]:checked + img {
  outline: 2px solid #36465D;
  -webkit-filter: contrast(1);
          filter: contrast(1);
}

