body {
  background-color: #36465D;
  overflow-x: hidden;
}

.wrap {
  width: 75%;
  margin: auto;
}

#containerFormHero {
  text-align: left;
  display: flex;
  justify-content: center;
  font-family: "Spartan", sans-serif;
  background-color: rgba(35, 51, 75, 0.8);
}

#containerFormHero #containerForm {
  width: 80%;
  margin-top: 50px;
}

#containerFormHero #containerForm h1,
#containerFormHero #containerForm h2 {
  text-align: left;
  color: white;
  padding: 12px 0;
}

#containerFormHero #containerForm .blocInput {
  display: flex;
  flex-direction: row;
}

#containerFormHero #containerForm input {
  color: white;
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 30px;
  padding-left: 8px;
  background-color: #36465D;
  text-align: left;
  margin: 5px 0;
}

#containerFormHero #containerForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 75px;
}

#containerFormHero #containerForm form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #96a0ad;
}

#containerFormHero #containerForm form .form-control:focus {
  color: white;
  background-color: #6e8bb3;
  border-color: #a1cbef;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

#containerFormHero #containerForm button {
  color: white;
  width: 60px;
  left: 0;
  right: 0;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  width: 25%;
  height: 30px;
  background-color: #36465D;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#containerFormHero #containerForm button:hover {
  transform: scale(1.1, 1.1);
}

#containerFormHero #containerHero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
  width: 50%;
  margin: auto;
  color: whitesmoke;
}

#containerFormHero #containerPhotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  /* IMAGE STYLES */
  /* CHECKED STYLES */
}

#containerFormHero #containerPhotos img {
  height: auto;
  width: 100%;
}

#containerFormHero #containerPhotos label {
  position: relative;
}

#containerFormHero #containerPhotos [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#containerFormHero #containerPhotos [type=radio] + img {
  cursor: pointer;
  -webkit-filter: contrast(0.6);
          filter: contrast(0.6);
  transition: all 0.2s ease-out;
}

#containerFormHero #containerPhotos [type=radio] + img:hover {
  transform: scale(1.1);
}

#containerFormHero #containerPhotos [type=radio]:checked + img {
  outline: 2px solid #36465D;
  -webkit-filter: contrast(1);
          filter: contrast(1);
}

#containerFormHard form {
  display: flex;
  flex-direction: column;
}

#containerFormHard form input {
  width: 30%;
  margin: 15px 0;
}

#containerFormHard form #containerName {
  display: flex;
  position: relative;
  padding-bottom: 10px;
  align-items: center;
  padding-bottom: 10px;
}

#containerFormHard form #containerName #checkName {
  margin-left: 10px;
  background-color: #36465D;
  padding: 6px 9px;
  cursor: pointer;
}

#containerFormHard form #containerName #errorName {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 13px;
}

#containerFormHard form #containerNameValidation {
  height: 0;
  transition: height 0.4s;
  display: flex;
  align-items: center;
  z-index: -5;
}

#containerFormHard form #containerNameValidation #generateName {
  opacity: 0;
  transition: opacity 0.3s 0.3s;
}

#containerFormHard form #containerNameValidation #generateName button {
  background-color: #36465D;
  padding: 6px 9px;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#containerFormHard form #containerNameValidation #userNameValidation {
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
}

#containerFormHard form #containerNameValidation #checkName img {
  opacity: 0;
  padding-left: 15px;
  transition: opacity 0.3s ease-out;
}

#containerFormHard form #containerCanvas {
  position: relative;
}

#containerFormHard form #containerCanvas .inputElement {
  position: absolute;
  top: 50px;
}

#containerFormHard form #containerCanvas canvas {
  margin: 30px;
  background-color: #455cdf;
}

#containerFormHard #hardSelect {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
  /* IMAGE STYLES */
  /* CHECKED STYLES */
}

#containerFormHard #hardSelect label {
  position: relative;
  margin: 0;
}

#containerFormHard #hardSelect [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#containerFormHard #hardSelect p {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
  cursor: crosshair;
}

#containerFormHard #hardSelect [type=radio] {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#containerFormHard #hardSelect label:hover {
  transform: scale(1.3);
}

#containerFormHard #hardSelect [type=radio]:checked + p {
  outline: 2px solid #36465D;
  background-color: #36465D;
}

#containerFormHard .containerLimit {
  background-color: #4463ca;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 400px;
  transform-origin: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

#containerFormHard .containerLimit div {
  transition: opacity 0.9s 0.5s;
  opacity: 0;
  position: relative;
}

#containerFormHard .containerLimit div h2 {
  padding-top: 40px;
}

#containerFormHard .containerLimit div #annoyingButton {
  background-color: rgba(35, 51, 75, 0.8);
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#containerFormHard .containerLimit div #closeLimit {
  width: 30px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 8px;
}

#containerFormHard .containerLimit div #closeLimit img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 100%;
  height: auto;
}

#containerFormHard .containerLimit div #annoyingButtonHitBox {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

#containerFormHard #containerStat {
  display: flex;
  flex-direction: column;
}

#containerFormHard #containerStat #buttonStat {
  cursor: pointer;
  width: 200px;
  height: 30px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

#containerFormHard #containerStat #buttonStat p {
  margin: 0;
}

#containerFormHard #containerStat #buttonStat img {
  height: auto;
  width: 18px;
}

#containerFormHard #containerStat #menuStat {
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-out;
  height: 0;
  width: 0;
}

#containerFormHard #containerStat #menuStat label {
  opacity: 0;
  pointer-events: stroke;
  transition-property: opacity, left;
  transition-duration: 0.3s, 3s;
  transition-delay: 0.1, 0s;
  transition-timing-function: ease-in-out, cubic-bezier(0.17, 0.67, 1, 1.32);
  position: relative;
  margin: 0;
  height: 30%;
  width: 200px;
  left: 0;
  z-index: -5;
}

#containerFormHard #containerStat #menuStat label p {
  padding: 0 0 0 5px;
  text-align: left;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 0px;
  height: 100%;
}

#containerFormHard #containerStat #menuStat label .labelFill {
  position: absolute;
  left: 0;
  top: 0;
  background-color: green;
  transition: width 0.1s;
  height: 100%;
  width: 0%;
  transition: width 2s;
}

#containerFormHard #containerStat #menuStat [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#containerFormHard #containerStat #menuStat [type=radio]:checked + p {
  outline: 2px solid #36465D;
  -webkit-filter: contrast(1);
          filter: contrast(1);
  background-color: #36465D;
}

.open {
  top: 0;
  left: 0;
  opacity: 1 !important;
  z-index: 10;
  transform-origin: top;
  width: 400px !important;
}

.openStat {
  height: 100px !important;
  width: 200px !important;
}

.openLabel {
  opacity: 1 !important;
  z-index: 3 !important;
}

#containerFormChoose {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Spartan", sans-serif;
  background-color: rgba(35, 51, 75, 0.8);
}

#containerFormChoose a {
  text-decoration: none;
  color: inherit;
}

#containerFormChoose #containerSelect {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#containerFormChoose #containerSelect a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#containerFormChoose #containerSelect #left,
#containerFormChoose #containerSelect #right {
  transform: scale(1);
  cursor: pointer;
  width: 40%;
  display: inline-block;
  background-color: rgba(42, 67, 104, 0.8);
  border-radius: 15px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#containerFormChoose #containerSelect #left {
  width: 100%;
  height: 100%;
}

#containerFormChoose #containerSelect #right:hover {
  transform: scale(1.1);
}

